{% extends 'base.html' %}

{% block title %} Buscador de Etiquetas {% endblock %}

{% block content %}
	<section class="container">
		<div class="jumbotron">
		<div class="jumbotron">
			<form method="GET" action="{% url 'buscador_etiquetas_view'%}">
				<label for="q">Buscar</label>
    <input type="text" class="form-control" name = "q" id="q" aria-describedby="emailHelp" placeholder="Ingresa una etiqueta">
				<button type="submit" class="btn btn-dark">GO!</button>
			</form>
		</div>

		<table class="table table-strip">
		<th>Producto</th>
		<th>Etiqueta</th>
		{% for j in object_list %}
			<tr>
				<td>{{ j.nombre_producto }} </td>
				<td>{{ j.etiqueta }}</td>
				<td><a href="#" class="btn btn-dark">Detalle</a></td>
			</tr>		
		{% endfor %}
	</table> 
	</div>  
	</section>    
{% endblock %}
