{% extends 'base.html' %}

{% block title %} Toys {% endblock %}

{% block content %}
<body style="background-image: url(/static/Images/background1.jpg);">
	<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src='/static/Images/S1.jpg' alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src='/static/Images/S2.jpg' alt="Second slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src='/static/Images/S3.jpg' alt="Third slide">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Siguiente</span>
      </a>
    </div>
	<section class="container">


      <div class="jumbotron mt-5" style="">
      <h1 class="display-4 text-center">Productos Actuales</h1 >
      


      <div class="card-group">
  <div class="card">
    <img class="card-img-top" src="/static/Images/barbie.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Juguetes</h5>
      <p class="card-text">El juguete más popular del mundo. Desde su creación se ha ganado el amor de las niñas siendo un modelo a seguir</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/static/Images/action_man.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">El mayor competidor de max steel, dotado de una serie de accesorios coleccionables para completar las aventuras</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/static/Images/max_steel.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Max Steel el juguete favorito de los niños</p>
    </div>
  </div>
</div>

        <div class="row" >
        <div class="col s12 m6">
          <div class="card blue-grey darken-1" style="text-align: left;background-color:Cornsilk);">
            <div class="card-content white-text" style="background-color: WhiteSmoke ">
              <span class="card-title">NOTA:</span>
              <center><p style="text-align: left;">Los productos antes indicados estan sujetos a cambios y no son la representacion final del juguete, para cualquier dudad o alaracion dirigirse al Politicas de Privacidad.</p></center>
            </div>
            <div class="card-action" style="background-color: WhiteSmoke ">
              <a href="http://corporate.mattel.com/global/es-LAM/privacy.aspx">Politicas de Privacidad</a>
            </div>
          </div>
        </div>
        </div>
    </div>
	</section>
</body>    
{% endblock %}