{% load staticfiles %}

<!DOCTYPE html>
<html lang="es">
<head>
	<title>Login</title>
	<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS and JS -->
    
    <link rel="stylesheet" type = "text/css" href="{% static 'bootstrap4/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'static/login.css'%}">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    
    <script src="{% static 'bootstrap4/js/bootstrap.min.js' %}"></script>

    <title>{% block title %}{% endblock %} </title>
  </head>
</head>
<body>
	<body style="background-image:url('/static/Images/fondo.jpeg');background-size: 100% 200%;background-repeat: no-repeat;">

	<div style="background-color:DarkSalmon;"; class="jumbotron boxlogin">
		<center><p>TOYS LOGIN</p></center>
	<form method="POST">
		{% csrf_token %}	
  <div class="form-group">
    <label for="usu">Usuario</label>
    <input type="text" class="form-control" name = "usu" id="usu" aria-describedby="emailHelp" placeholder="Ingresa Usuario" required>
    <small id="simple" class="form-text text-muted">We will rock you!</small>
  </div>
  <div class="form-group">
    <label for="con">Contraseña</label>
    <input type="password" class="form-control" name="con" id="con" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-primary">Entrar</button>
</form>
</div>
{% if error == 'Credenciales desconocidas' %}
		<div class="alert alert-danger" role="alert">
  {{error}}
</div>
{% else %}

{% endif %}
	<!-- <form method="POST">
		<div class = "center">
			<h3>LOGIN</h3>
			<table>
				{% csrf_token %}
				<tr>
					<td><label for="usu">Username</label></td>
					<td><input type="text" name="usu" id="usu" placeholder="Usuario" required=""></td>
				</tr>
				<tr>
					<td><label for="con">Password</label></td>
					<td><input type="password" name="con" id="con" placeholder="Contraseña" required=""></td>
				</tr>	
			</table>
		</div>
		<button type="submit">Entrar</button>
	</form> -->
	
</body>
</html>