{% extends 'base.html' %}
{% block title %} Piezas {% endblock %}

{% block content %}

<section class="container">
	<div class="jumbotron">
	<table class="table table-strip mt-5">
		<th>Id de la pieza</th>
		<th>Etiqueta</th>
		{% for j in object_list %}
			<tr>
				<td>{{ j.id }} </td>
				<td>{{ j.etiqueta }}</td>
			</tr>

			{% empty %}
			{% if request.GET.q %}
				No se entontro avance
			{% else %}
				No hay datos
			{% endif %}
		{% endfor %}
	</table>  
</div>
</section>
{% endblock %}